.uom_id_quick{
	border: 1px solid black;
    width: 90px;
    height: 29px;
    margin-right: 15px;
    margin-left: -38px;
}


.uom_sel2{
	margin-top: 2px;
    margin-left: 40%;

}


.quick_qty2 {
    width: 110px !important;
    margin-top: 6px;
    margin-left: 0px;
    margin-right: 10px;
}
