    
.my-height {
	height: 30px!important;
	margin-bottom: 10px!important;
	color: black;
	font-size: 14px;
	border-bottom: 2px solid #27bfbb;
}

.my-height {
	margin-bottom: 10px!important;
	color: black;
	font-size: 14px;
	border-bottom: 2px solid #27bfbb;
}

.cus-div{
	display: inline-block!important;
}

.lab-size{
	font-size: 12px;
	margin-bottom: -6px;
}

.tab-1-pre{

	margin-right: 20px;
	pointer-events: none;
	cursor: default;
	text-decoration: none;
	color: black;
	background-color: lightgray!important;
}


.tab-2-pre{

	margin-right: 20px;
}

.tab-3-pre{

	margin-right: 20px;
}

.tab-4-pre{

	margin-right: 20px;
}

.tab-5-pre{

	margin-right: 20px;
}

.deal-tab{

	margin-top: 50px;
	margin-bottom: 50px;
	border: 1px solid lightslategrey;
}






