// Prevent grid gutter to be higher that bootstrap gutter width to make sure
// the negative margin layout does not overflow on elements. This prevents the
// use of an ugly overflow: hidden which would break box-shadows.


.ban-over{
	position: absolute;
    background-color: black;
    opacity: 0.8;
    color: white;
    margin-left: 25%;
    margin-top: 22%;
    }    